body{
    background-color: #f3f2ed;
}
.container-fluid{
    margin-top: -20px;
}
.header{
    background-color: #41403a;
    }
.header p{
    color:#fff;
}

h1{
    font-size: 6vw;
    font-family: Georgia;
    text-align: center;
    color: #fff;
    padding: 20px;
}

.websitepage
{text-align: center;
    background-color: #fff;
    border-radius: 5px;
}
span{
    color: #fff;
}
.dropblock{
    display: block;
    background-color: #41403a;
    border-radius: 5px;
}
.hoverExpand{
    cursor: default;
}
h2{
    padding-top: 15px;
}

* {
    font-family: Myriad Pro;
}
