body{
    background-color: #f3f2ed;
}
.header{
    font-size: 50px;
    background-color: #41403a;
        
}
h1{
    font-size: 75px;
    font-family: Georgia;
    text-align: center;
    color: #fff;
    padding: 20px;
}

.websitepage
{text-align: center;
    background-color: #fff;
    border-radius: 5px;
}
span{
    color: #fff;
}
.dropblock{
    display: block;
    background-color: #41403a;
    border-radius: 5px;
}
.hoverExpand{
    cursor: default;
}
h2{
    padding-top: 15px;
}

* {
    font-family: Myriad Pro;
}